@import "./default.less";
@import "./custom.less";
#reat-content {
  font-family: Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.intro .header {
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.btn {
  transition: all .3s @ease-out;
}

.page-wrapper {
  width: 100%;
  padding: 0;
  overflow: hidden;
  .page {
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    h2 {
      margin-bottom: 30px;
      font-size: 2rem;
    }
    .separator {
      display: inline-block;
      width: 30px;
      height: 5px;
      margin-bottom: 65px;
      background: #1890FF;
      border-radius: 2.5px;
    }
  }
}

.card {
  text-decoration: none;
  .title,
  .description {
    color: rgba(0, 0, 0, 0.65) !important;
    font-weight: 300;
    font-size: 14px;
  }
}

.card:hover {
  .title {
    color: rgba(0, 0, 0, 0.65) !important;
  }
}

.features img {
  margin-top: 0 !important;
}

.page {
  h2,
  h4,
  h5,
  span,
  p,
  a,
  .feature,
  .card-wrapper,
  .main-info,
  .detail {
    will-change: transform;
  }
  .main-info {
    line-height: 36px;
  }
}

.banner {
  position: relative;
  max-width: 1500px;
  height: 100%;
  margin: auto;
  svg {
    display: block;
    margin-left: -30px;
    padding-top: 20px;
  }
  &-wrapper {
    height: 520px;
    padding-top: 0px;
    overflow: hidden;
  }
  >div {
    display: inline-block;
  }
  &-img-wrapper {
    width: 50%;
    height: 100%;
  }
  &-text-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 265px;
    margin: auto;
    padding-right: 114px;
    h1 {
      font-size: 46px;
    }
    p {
      margin: 50px 0 60px;
      font-weight: 300;
      font-size: 16px;
    }
    a {
      display: inline-block;
      .ant-btn {
        height: 40px;
        padding: 10px 24px;
        font-size: 16px;
        border-radius: 20px;
        &:hover {
          box-shadow: 0 4px 12px rgba(24, 144, 255, 0.4);
          transform: translateY(-4px);
        }
      }
    }
  }
}

.content {
  min-height: 372px;
  padding-bottom: 100px;
  overflow: initial;
  .card {
    position: relative;
    display: inline-block;
    flex-direction: column;
    max-width: 360px;
    height: 272px;
    margin: 0 auto;
    padding: 32px;
    color: #868e96;
    text-align: center;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(84, 48, 132, 0.06);
    transition: transform .3s @ease-out, box-shadow .3s @ease-out;
    .card-img-top {
      width: 100%;
      border-top-left-radius: calc(.25rem - 1px);
      border-top-right-radius: calc(.25rem - 1px);
    }
    h3 {
      font-size: 30px;
    }
    img {
      height: 50px;
      margin: 20px 0;
    }
    &:hover {
      text-decoration: none;
      box-shadow: 0 12px 24px rgba(84, 48, 132, 0.06);
      transform: translateY(-12px);
    }
  }
}
