@import "./default.less";
@media only screen and (max-width: @screen-md) {
  .banner-wrapper {
    height: 720px;
    .banner {
      overflow: hidden;
      .banner-img-wrapper,
      .banner-text-wrapper {
        position: relative;
        display: block;
        width: 90%;
        margin: auto;
      }
      .banner-img-wrapper {
        height: auto;
        margin: 40px auto;
      }
      .banner-text-wrapper {
        padding: 0;
        text-align: center;
        p {
          margin: 8% 0;
          line-height: 1.5em;
        }
      }
    }
  }
  .main-info {
    font-size: 16px;
    line-height: 2em;
  }
}
