@width: calc(100% - 100px);
@boder-color: #d9d9d9;

.tab {
  .row1{
    width: 100%;
    .key, .ttl{
      .prefix {
        font-weight: 700;
        margin-right: 5px;
      }
    }
    .key {
      width: 300px;
    }
    .ttl{
      width: 150px;
    }
  }

  .table, .text-container{
    width: @width;
    //border: 1px solid @boder-color;
  }
  .load-more{
    width: @width;
    margin-top: -1px;
  }
  .text-container{
    height: 400px;
    margin-left: 10px;
    overflow-y: auto;
    //border: 1px solid @boder-color;
    border-radius: 3px;
    .json-viewer{
      padding: 10px;
      border: 1px solid @boder-color;
    }
    .text-viewer{
      height: 100%;
    }
  }
}

