.text-container{
  width: calc(100vw - 430px);
  height: 500px;
  margin-left: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  .text-viewer{
    height: 100%;
    color: white;
    background-color: black;
    resize: none;
  }
  .command-viewer{
    color: white;
    background-color: black;
  }
}
