@import '../index.less';

.tab-container {
  display: inline-block;
  width: calc(100vw - (@sider-width + 80px));
  margin-left: 8px;
  background-color: #fff;
  min-width: 400px;
  border-left: 2px solid #e8e8e8;
}