@import '../../../global.less';
@import '../index.less';

@button-width: 135px;

.container {
  height: 100%;
  background-color: #fff;
  width: @sider-width;
  padding: 10px;
  border-radius: 3px;
  display: inline-block;

  .row1, .row2, .row3, .row4 {
    margin-bottom: 20px;
  }

  .row1{
    .connection-button{
      width: 280px;
    }
  }

  .row2{
    .name{
      display: inline-block;
      overflow: hidden;
      font-weight: 700;
      margin-left: 10px;
      margin-right: 20px;
      width: 150px;
      color: #000;
      .text{
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 120px;
        height: 20px;
      }
      .down {
        display: inline-block;
        margin-top: 3px;
        margin-left: 3px;
      }
    }
    .icon{
      cursor: pointer;
      margin-right: 10px;
      height: 18px;
      :hover{
        color: @primary-color;
      }
    }
  }

  .row3{
    .db-select{
      width: @button-width + 50px;
      margin-right: 10px;
    }
    .add-new-key{
      width: @button-width - 50px;
    }
  }

  .keys{
    border: 1px solid #e8e8e8;
    height: calc(100% - 200px);;
  }

  .load-more{
    width: 280px;
    margin-top: -1px;
  }

}
